/* You can add global styles to this file, and also import other style files */
body {
	margin: 0px;
	padding: 0px;
}

@font-face{
	font-family: wes;
	font-weight: normal;
	src: url("assets/fonts/Wes-FY-Regular.ttf");
}
@font-face{
	font-family: wes;
	font-weight: 100;
	src: url("assets/fonts/Wes-FY-Thin.ttf");
}
@font-face{
	font-family: wes;
	font-weight: 300;
	src: url("assets/fonts/Wes-FY-Medium.ttf");
}
@font-face{
	font-family: wes;
	font-weight: bold;
	src: url("assets/fonts/Wes-FY-Bold.ttf");
}
@font-face{
	font-family: wes;
	font-weight: 900;
	src: url("assets/fonts/Wes-FY-Black.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: wes;
}