@import "theme.scss";

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
  padding: 0px;
  user-select: none;
}

.button {
  float: left;
  cursor: pointer;
  transition-duration: 0.2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.trend-dialog .mat-dialog-container{
  overflow: hidden !important;
}

.mat-dialog-container  {
  background-color: lighten(#212749, 8%);
  padding: 0 !important;
  margin: 0;
}