@import "theme.scss";

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
  padding: 0px;
  user-select: none;
}

.button {
  float: left;
  cursor: pointer;
  transition-duration: 0.2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.trend-dialog .mat-dialog-container {
  overflow: hidden !important;
}

.mat-dialog-container {
  background-color: lighten(#212749, 8%);
  padding: 0 !important;
  margin: 0;
}

.mat-select-panel {
  background: rgb(64, 76, 144);
}

.mat-menu-content {
  background-color: darken($color: #414d8f, $amount: 17);
}

.mat-snack-bar-container {
  color: whitesmoke;
  padding: 0 !important;
  min-height: 0 !important;
  width: 425px;
}

.mat-simple-snackbar-action {
  background-color: #2639a4;
}

.tooltip {
  background-color: black;
  color: white;
  font-size: 1rem;
  padding: 10px 15px;
}

/* Slider Styles */

.slider {
  -webkit-appearance: none;
  width: 200px;
  height: 5px;
  border-radius: 5px;
  background: #ffffffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #344380;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #344380;
  cursor: pointer;
}
