.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text {
  font-size: 1rem;
  font-weight: bold;
  color: whitesmoke;
}

.input-text {
  width: 50px;
}

.slider {
  width: 100px;
}
