.header {
  padding: 5% 0 5% 0;
  padding: 38px;
  font-size: 2rem;
  font-weight: 900;
  width: 100%;
  background-color: lighten(#212749, 20%);
  align-content: center;
  -webkit-box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.1);
}

.offline {
  color: gray;
}

.online {
  color: #43a047;
}

.save-wrapper {
  width: 414px;
  padding: 0 38px 38px;
}

.name {
  align-self: baseline;
}

.tag {
  background-color: #6f7bbe;
}

.tags {
  width: 100%;
}

.background {
  z-index: -1;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
}

.button-wrapper {
  margin: 10% 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 49%;
  margin-left: auto;
}

.error {
  color: rgb(255, 74, 74);
}

.form {
  min-height: 183px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.switch {
  background-color: #414d8f;
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 116px;
  margin: 30px 30px 0 auto;
}
