<div class="header" *ngIf="!isOnline">Save
    <span class="offline">Offline</span>
</div>
<div class="header" *ngIf="isOnline">Save
    <span class="online">Online</span>
</div>

<div class="wrapper">
    <div class="offline" *ngIf="!isOnline">
        <mat-icon>cloud_off</mat-icon>
    </div>
    <div class="online" *ngIf="isOnline">
        <mat-icon>cloud</mat-icon>
    </div>
    <label class="switch">
        <input type="checkbox" [(ngModel)]="isOnline" (click)="toggleOnline()">
        <span class="toggler round"></span>
    </label>
</div>
<div class="save-wrapper">
    <form class="form" [formGroup]="saveForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="name" color="accent">
            <input matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="saveForm.invalid">{{getNameErrorMessage()}}</mat-error>
        </mat-form-field>

        <div *ngIf="isOnline">
            <mat-form-field class="tags" color="accent">
                <mat-chip-list #chipList aria-label="Tag selection">
                    <mat-chip class="tag" *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable"
                        (removed)="remove(tag)">
                        {{tag}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>

                    <input placeholder="New tag..." [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-error *ngIf="!areFieldsValid()">{{getTagsErrorMessage()}}</mat-error>
            </mat-form-field>

        </div>

        <div class="error" *ngIf="!areFieldsValid()">
            Invalid tag(s).
        </div>
        <div class="button-wrapper">
            <button class="btn-close" color="secondary" mat-raised-button mat-dialog-close>Close</button>
            <button color="primary" mat-raised-button mat-dialog-close type="submit"
                [disabled]="!areFieldsValid() || !saveForm.valid">Save</button>
        </div>
    </form>
</div>
<div class="background">
</div>