<div class="title">Bucket</div>

<div class="buttons-wrapper">
    <app-color-option 
        [isPrimary]="IS_PRIMARY">
    </app-color-option>

    <div class="swap" (click)="onSwap()">
        <img src="../../../assets/images/swap.svg" alt="swap">
    </div>
    
    <app-color-option
        [isPrimary]="!IS_PRIMARY">
    </app-color-option>
</div>


<div class="separation">
    <div class="tools">
        <a *ngFor="let tool of tools" class="button" (click)="selectTool(tool)"
            [class.selected-tool]="tool === currentTool">
            <img class="tool-icon" [src]="getFilesource(tool)">
        </a>
    </div>
</div>

<div *ngIf="currentTool === dropper">
    <div class="separation">
        <div class="text">
            <div>Targeted Color</div>
        </div>
    </div>
    <div class="separation text"
        [ngStyle]="{'background-color': dropper.currentColor.toString(), 'height' : '100px', 'border': '2px solid #aaaaaa'}">
        {{ dropper.currentColor.toString() }}
    </div>
</div>