<app-color-selection></app-color-selection>

<div class="separation">
    <div class="tools">
        <div class="button"
            *ngFor="let tool of tools" 
            (click)="selectTool(tool)"
            matTooltip="{{tool.tip}}"
            matTooltipClass="tooltip"
            matTooltipPosition="below"
            [class.selected-tool]="tool === currentTool">
            <img class="tool-icon" [src]="getFilesource(tool)">
        </div>
    </div>
</div>

<div *ngIf="currentTool === dropper">
    <div class="separation">
        <div class="text">
            <div>Targeted Color</div>
        </div>
    </div>
    <div class="separation text"
        [ngStyle]="{'background-color': dropper.currentColor.toString(), 'height' : '100px', 'border': '2px solid #aaaaaa'}">
        {{ dropper.currentColor.toString() }}
    </div>
</div>