<app-color-selection></app-color-selection>

<div class="separation">
    <div class="tools">
        <div class="button"
            *ngFor="let tool of tools" 
            (click)="selectTool(tool)"
            matTooltip="{{tool.tip}}"
            matTooltipClass="tooltip"
            matTooltipPosition="below"
            [class.selected-tool]="tool === currentTool">
            <img class="tool-icon" [src]="getFilesource(tool)" draggable="false">
        </div>
    </div>
</div>

<div *ngIf="currentTool === dropper">
    <div class="separation">
        <div class="text">
            <div>Targeted Color</div>
        </div>
    </div>
    <div class="box"
        [ngStyle]="{'background-color': dropper.currentColor.toRGBA()}">
        <div class="output">{{ dropper.currentColor.toRGBA() }}</div> 
    </div>
</div>