<div class="header"> Import</div>

<div class="import-wrapper">
    <form [formGroup]="requiredForm">
        <div>
            <mat-form-field>
                <input matInput [hidden]="true">
                <input type="file" formControlName="importImage" (change)="getFile($event)" required />
            </mat-form-field>

            <div *ngFor="let validation of validationMessages.importImage">
                <span class="error-message" *ngIf="requiredForm.get('importImage').hasError(validation.type)
        && (requiredForm.get('importImage').dirty 
        || requiredForm.get('importImage').touched)">
                    {{validation.message}}
                </span>
            </div>
        </div>
        <div class="button-wrapper">
            <button class="btn-close" mat-raised-button mat-dialog-close color="secondary">Close</button>
            <button color="primary" mat-raised-button mat-dialog-close (click)="submit($event)" [disabled]="!enable">
                Submit </button>
        </div>
    </form>
</div>
<div class="background"></div>