<div class="modal">
  <form class="modal-wrapper" [formGroup]="newDrawingFrom" (ngSubmit)="onSubmit()">
    <div class="title">New Drawing</div>
    <div class="content-wrapper">
        <label class="field-wrapper">
          Width:
          <input class="field" type="text" formControlName="width" value="{{defaultWidth}}">
        </label>

      <label>
        Height:
        <input class="field" type="text" formControlName="height" value="{{defaultHeight}}">
      </label>

      <label>
        Background Color:
      </label>
      <div class="color-palette">
        <div class="palette-color" (click)="test()"></div>
        <div class="palette-color"></div>
        <div class="palette-color"></div>
        <div class="palette-color"></div>
        <div class="palette-color"></div>
        <div class="palette-color"></div>
        <div class="palette-color"></div>
        <div class="palette-color"></div>
        <div class="palette-color">
          <input class="custom-color" type="color" formControlName="backgroundColor"></div>
      </div>
    </div>


    <button class="btn-create" type="submit">Create</button>
  </form>
</div>
