<div class="modal">
  <form class="modal-wrapper" [formGroup]="newDrawingFrom" (ngSubmit)="onSubmit()">
    <div class="title">New Drawing</div>
    <div class="content-wrapper">
      <label class="field-wrapper">
        <span class="field-label">Width:</span>
        <input class="field" type="number" formControlName="width" value="{{defaultWidth}}" autofocus>
        
        <span>px</span>
      </label>
      <label>
        <span class="field-label">Height:</span>
        <input class="field" type="number" formControlName="height" value="{{defaultHeight}}">
        <span>px</span>
      </label>

      <label>
        <span class="field-label">Background Color:</span>
        <input class="field bg-input" type="text" formControlName="backgroundColor" value="{{backgroundColor}}">
      </label>
      <div class="color-palette">

        <div class="color-wrapper">
          <input class="color-toggler" type="radio" name="radio" checked="trus">
          <div class="color color1" (click)="chooseBgColor('#F9F9F9')"></div>
        </div>

        <div class="color-wrapper">
          <input class="color-toggler" type="radio" name="radio">
          <div class="color color2" (click)="chooseBgColor('#FF5C5C')"></div>
        </div>

        <div class="color-wrapper">
          <input class="color-toggler" type="radio" name="radio">
          <div class="color color3" (click)="chooseBgColor('#3760FF')"></div>
        </div>

        <div class="color-wrapper">
          <input class="color-toggler" type="radio" name="radio">
          <div class="color color4" (click)="chooseBgColor('#39E5FF')"></div>
        </div>

        <div class="color-wrapper">
          <input class="color-toggler" type="radio" name="radio">
          <div class="color color5" (click)="chooseBgColor('#55E9BC')"></div>
        </div>

        <div class="color-wrapper">
          <input class="color-toggler" type="radio" name="radio">
          <div class="color color6" (click)="chooseBgColor('#A3FF87')"></div>
        </div>

        <div class="color-wrapper">
          <input class="color-toggler" type="radio" name="radio">
          <div class="color color7" (click)="chooseBgColor('#FFFF79')"></div>
        </div>

        <div class="color-wrapper">
          <input class="color-toggler" type="radio" name="radio">
          <div class="color color8" (click)="chooseBgColor('#FF9E66')"></div>
        </div>

        <div class="color-wrapper">
          <input class="color-toggler" type="radio" name="radio">
          <div class="color color9">
            <input class="custom-color" type="color" formControlName="backgroundColor">
          </div>
        </div>
      </div>
    </div>


    <button class="btn-create" type="submit" [disabled]="!newDrawingFrom.valid">Create</button>
  </form>
</div>
