<div class="header">Gallery</div>

<div class="gallery">
    <mat-form-field color="accent">
        <input #filterInput matInput (keyup)="filterDrawings($event.target.value)" placeholder="Filter Tags"
            autocomplete="off">
    </mat-form-field>

    <div class="alerts-wrapper" *ngIf="isProgressing || !isTagExists || isError">
        <div class="tag-not-found" *ngIf="!isTagExists && !isError">
            "{{filterInput.value}}" tag does not exist.
        </div>
        <div class="tag-not-found" *ngIf="isError">
            Connexion Error : Could not connect to server.
        </div>
        <div class="spinner">
            <mat-progress-spinner *ngIf="isProgressing" color="primary" mode="indeterminate"></mat-progress-spinner>
        </div>
    </div>

    <div class="drawings" *ngIf="!isProgressing && isTagExists && !isError">
        <div class="grid">
            <div class="drawing" *ngFor="let drawing of drawingsOnPage; trackBy: index"
                (click)="onClick($event, drawing)" mat-dialog-close>
                <div class="overlay">
                    <div class="open">Open</div>
                </div>

                <div class="drawing-section drawing-title">
                    <div class="name" [innerText]="drawing.name"></div>
                    <button class="overflow" mat-icon-button [matMenuTriggerFor]="menu" aria-label="more options"
                        (click)="stopEventPropagation($event)">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" yPosition="above" xPosition="after">
                        <button mat-menu-item [matMenuTriggerFor]="addTag">
                            <mat-icon>label</mat-icon>
                            <span>Add Tag</span>
                        </button>
                        <button mat-menu-item (click)="onDelete(drawing)">
                            <mat-icon>close</mat-icon>
                            <span>Delete</span>
                        </button>
                    </mat-menu>
                    <mat-menu #addTag="matMenu">
                        <div class="add-tag-wrapper">
                            <input class="add-tag-input" type="text" [(ngModel)]="tagInput"
                                (click)="stopEventPropagation($event)" (keyup.enter)="onAddTag(drawing)"
                                placeholder="Enter tag name ..." autocomplete="off" autofocus>
                            <button class="btn-add-tag" mat-flat-button color="primary" (click)="onAddTag(drawing)">Add
                                Tag</button>
                        </div>
                    </mat-menu>
                </div>
                <div class="date-section">
                    <div class="date">{{getDate(drawing)}}</div>
                </div>
                <div class="thumbnail">
                    <app-thumbnail [thumbnailSVG]="drawing.holder.entry" [svgWidth]="drawing.width"
                        [svgHeight]="drawing.height">
                    </app-thumbnail>
                </div>

                <div class="drawing-section tags">
                    <div class="tag" *ngFor="let tag of drawing.tags">
                        {{tag}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-wrapper">
        <div class="page-group">
            <div class="page">
                Total of<span class="head"> {{filteredDrawings.length}} </span>drawings
            </div>
            <div class="page">
                Page <span class="head">{{page}}</span>
            </div>
            <div class="page">Drawing {{beginPage}} - {{endPage}}</div>
        </div>

        <button class="btn" color="primary" mat-fab (click)="previousPage()">
            <mat-icon class="arrow">arrow_back_ios</mat-icon>
        </button>
        <button class="btn" color="primary" mat-fab (click)="nextPage()">
            <mat-icon class="arrow">arrow_forward_ios</mat-icon>
        </button>

        <button class="btn-close" color="accent" (click)="onClose()" mat-raised-button mat-dialog-close>Close</button>
    </div>
</div>
<div class="background">
</div>