.header {
  padding: 5% 0 5% 0;
  padding: 38px;
  font-size: 2rem;
  font-weight: 900;
  width: 100%;
  background-color: lighten(#212749, 20%);
  align-content: center;
  -webkit-box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.1);
}

.gallery {
  height: 100%;
  width: 64vw;
  padding: 25px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 250px));
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.mat-form-field {
  font-size: 1.1rem;
  width: 100%;
  color: whitesmoke;
  padding: 0 22px 0 22px;
}

.drawings {
  height: 50vh;
  overflow: auto;
  text-align: left;
  margin-bottom: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  margin-bottom: 25px;
  margin: auto 0;
}

.name {
  font-size: 1rem;
  font-weight: bold;
  height: auto;
}

.drawing {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: auto;
  margin: 25px 25px 0 25px;
  border-radius: 5px;

  -webkit-box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.05);

  background-color: darken($color: #414d8f, $amount: 17);
  border: solid 1px #ececec1f;
  width: 202px;
  cursor: pointer;
  transition: all 0.3s;
}

.drawing:hover {
  border: solid 1px #ececec79;
}

.drawing:hover .open {
  display: block;
  position: absolute;
  margin: auto;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: solid 1px whitesmoke;
  opacity: 1;
}

.drawing:hover .overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.458);
  border-radius: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  display: none;
}

.open {
  display: none;
}


.tag-not-found {
  display: block;
  margin: 25px;
  color: rgb(255, 74, 74);
  font-size: 1.1rem;
  text-align: center;
  word-break: break-word;
  overflow: hidden;
  margin: auto 0;
}

.drawing-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px;
  color: whitesmoke;
  width: 195px;
}

.overflow {
  margin-left: auto;
}

.tag {
  font-size: 0.8rem;
  padding: 5px 8px;
  background-color: #6f7bbe;
  border-radius: 10px;
  margin: 0 7px 7px 0;
  word-break: break-word;
  overflow: hidden;
}

.svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.thumbnail {
  cursor: pointer;
  background-color: darken($color: #414d8f, $amount: 14);
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.background {
  z-index: -1;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.btn {
  margin-left: 25px;
}

.extra {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 10px;
  height: 15px;
}

.add-tag-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
}

.add-tag-input {
  height: 2rem;
  width: 160px;
  font-size: 0.8rem;
  padding: 10px;
  margin: 5px 10px 10px;
  border: none;
  border-radius: 3px;
  background-color: darken($color: #414d8f, $amount: 11);
  color: whitesmoke;
}

.btn-add-tag {
  margin: 0 10px;
}

::placeholder {
  color: whitesmoke;
  opacity: 0.7;
}

:-ms-input-placeholder {
  color: whitesmoke;
  opacity: 0.7;

}

::-ms-input-placeholder {
  color: whitesmoke;
  opacity: 0.7;
}
