.gallery {
  height: 100%;
  width: 70vw;
  padding: 25px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 250px));
  width: 100%;
  grid-gap: 5px;
  // justify-items: center;
  justify-content: flex-start;
  align-items: center;
}

.mat-form-field {
  font-size: 16px;
  width: 100%;
  color: whitesmoke;
  background-color: #151b33;
  padding: 0 22px 0 22px;
}

.drawings {
  height: 562px;
  overflow: auto;
  text-align: left;
}

.name {
  font-size: 1rem;
  font-weight: medium;
  text-transform: capitalize;
}

.drawing {
  height: auto;
  margin: 25px 25px 0 25px;
  border-radius: 5px;
  background-color: lighten($color: #151b33, $amount: 10);
}

.tag-not-found {
  margin: 25px;
  color: rgb(255, 74, 74);
  font-size: 1.1rem;
  text-align: center;
  word-break: break-word;
  overflow: hidden;
}

.drawing-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px;
  color: whitesmoke;
}

.tag {
  padding: 5px 10px;
  background-color: rgb(73, 105, 167);
  border-radius: 5px;
}

.svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.thumbnail {
  cursor: pointer;
}
