.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 16px;
  background-color: #414d8f;
}

.error {
  background-color: #d32f2f;
}

.success {
  background-color: #43a047;
}

.title {
  font-weight: 700;
  font-size: 15px;
}

.content {}

.button-dismiss {
  border: none;
  font-weight: 700;
}
