.header {
  padding: 20px;
  height: 400px;
  width: 490px;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0 0 7% 0 ;
  font-size: 2rem;
  font-weight: 900;
  width: 100%;
}

.content {
  font-size: 1.1rem;
  text-align: justify;
  line-height: 2rem;
}

a {
  outline: none;
}

.info {
  font-size: 1rem;
  margin: 50px 0 0;
  text-align: left;
}

.checkbox {
  align-self: flex-start;
}

.mat-dialog-actions {
  align-self: flex-end;
}

.button-close {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  transform: translate(0, -17px);
}
