<div class="header">
  <h2 mat-dialog-title class="title">Welcome to Draw Rebase!</h2>
  <mat-divider style="padding:16px;"></mat-divider>
  <div mat-dialog-content class="content">We welcome you to the drawing world of Draw Rebase! Get a whole new
    experience of drawing through different tools to choose from the toolbar.
    Choose your default background color, start drawing and enjoy yourself.
    <div class="info">For more information, click
      <a
        href="https://moodle.polymtl.ca/pluginfile.php/442186/mod_resource/content/11/LOG2990%20-%20Polydessin%202019-3%20v1.2.pdf">here</a>
      for the instruction guide.</div>
  </div>
  <mat-divider style="padding:16px;"></mat-divider>
  <mat-checkbox mat-checkbox [(ngModel)]="pressHide" class="checkbox">Hide message</mat-checkbox>
  <mat-dialog-actions >
    <button color="accent" mat-raised-button (click)="close($event)" class="button-close" >Close</button>
  </mat-dialog-actions>
</div>
