<div class="title">Welcome to Draw Rebase!</div>
<div class="header">
  <div class="content">We welcome you to the drawing world of Draw Rebase! Get a whole new
    experience of drawing through different tools to choose from the toolbar.
    Choose your default background color, start drawing and enjoy yourself.
    <div class="info">For more information, click
      <a
        href="../../assets/files/PolyDessin.pdf" target="_blank">here</a>
      for the instruction guide.</div>
  </div>
  <mat-checkbox mat-checkbox [(ngModel)]="pressHide" class="checkbox">Hide message</mat-checkbox>
  <mat-dialog-actions>
    <button color="accent" mat-raised-button (click)="close($event)" class="button-close" >Close</button>
  </mat-dialog-actions>
</div>
