.header {
    margin: 24px;
    height: 600px;
    width: 450px;
    line-height: 2rem;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.content {
    font-size: 19px;
    text-align: justify;
    line-height: 2rem;
}

a {
    outline: none;
}

.info {
    font-size: 1rem;
    margin: 50px 0 0;
    text-align: left;
}

.checkbox {
    align-self: flex-start;
}

.mat-dialog-actions {
    align-self: flex-end;
}

.button-close {
    font-size: 1rem;
    font-weight: 500;
}