.clipboard {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 100%;
    width: 100%;
    padding: 25px;
    flex-wrap: wrap;
}

.clipboard-button {
    position: relative;
    min-width: unset !important;
    height: 40px !important;
    width: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    border: #262626 solid 1px;
    margin: 5px;     
}

.icon {
    height: 24px;
    width: 24px;
}