<div class="title">Text</div>

<app-color-selection></app-color-selection>

<app-showcase></app-showcase>

<div class="separation">
  <div class="tools">
    <div class="button"
      *ngFor="let tool of tools"
      (click)="selectTool(tool)"
      matTooltip="{{tool.tip}}"
      matTooltipClass="tooltip"
      matTooltipPosition="below"
      [class.selected-tool]="tool === currentTool">
      <img class="tool-icon" [src]="getFilesource(tool)">
    </div>
  </div>

  <div class="separation">
      <app-width [width]="currentTool.width" (widthEmmiter)="setWidth($event)"></app-width>
  </div>

  <div class="separation">
    <form class="form" (ngSubmit)="onSubmit()">
        <mat-form-field color="accent">
            <mat-label class="trace-label">Font-Family</mat-label>
            <mat-select (selectionChange)="selectFontFamily()" panelClass="trace-panel">
                <mat-option *ngFor="let fontFamily of fontFamilies" [value]="fontFamily.value">
                  {{fontFamily.fontFamily}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>

<div class="separation">
    <div class="text">Text Align</div>
    <div class="tools">
        <div *ngFor="let image of imageTextAlign" class="button" (click)="selectTextAlign(image.textAlign)"
            [class.selected-tool]="image.textAlign === currentTextAlign">
            <img class="tool-icon" [src]="image.png">
        </div>
    </div>
</div>

<div class="separation">
    <div class="text">Font Style</div>
    <div class="tools">
        <div *ngFor="let image of imageFontStyle" class="button" (click)="selectFontStyle(image.fontStyle)"
            [class.selected-tool]="image.fontStyle === currentFontStyle">
            <img class="tool-icon" [src]="image.png">
        </div>
    </div>
</div>

</div>