<app-color-selection></app-color-selection>

<app-showcase></app-showcase>
<div class="overflow-wrapper">
    <div class="section">Font</div>
    
    <form (ngSubmit)="onSubmit()" class="family">
        <mat-form-field color="accent">
            <mat-label class="label">Family</mat-label>
            <mat-select [value]="fonts[0]" panelClass="trace-panel">
                <mat-option *ngFor="let font of fonts" (click)="selectFontFamily(font)" [value]="font"
                    [class.selected-tool]="font ===currentFontFamily">
                    {{font}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    
    <app-width [title]="'Size'" [width]="currentTool.width" (widthEmmiter)="selectFontSize($event)"></app-width>
    
    
    <div class="sub-section">Style</div>
    <div class="tools style">
        <div class="button" (click)="toggleBold()" [class.selected-tool]="isBold">
            <img class="tool-icon" src="../../../assets/images/bold.png" draggable="false">
        </div>
        <div class="button" (click)="toggleItalic()" [class.selected-tool]="isItalic">
            <img class="tool-icon" src="../../../assets/images/italic.png" draggable="false">
        </div>
    </div>
    
    
    <div class="sub-section">Text Align</div>
    <div class="tools">
        <div class="button" (click)="selectTextAlign('start')" [class.selected-tool]="isAlignLeft">
            <img class="tool-icon" src="../../../assets/images/left.png" draggable="false">
        </div>
        <div class="button" (click)="selectTextAlign('middle')" [class.selected-tool]="isAlignCenter">
            <img class="tool-icon" src="../../../assets/images/center.png" draggable="false">
        </div>
        <div class="button" (click)="selectTextAlign('end')" [class.selected-tool]="isAlignRight">
            <img class="tool-icon" src="../../../assets/images/right.png" draggable="false">
        </div>
    </div>
</div>