.family {
  margin-top: 20px;
}

.tools {
  margin: 0px;
  width: 180px;
  margin-left: 20px;
}

.sub-section {
  color: #b9bbc2;
  font-size: 0.8rem;
  text-align: left;
  margin: 0 0 0 30px;
  font-weight: normal;
}

.style {
  width: 120px;
}

.icon {
  --length: 13px;
  display: block;
  height: var(--length);
  width: var(--length);
}
