<div class="title">Text</div>

<div class="buttons-wrapper">
  <app-color-option [isPrimary]="IS_PRIMARY">
  </app-color-option>

  <div class="swap" (click)="onSwap()">
    <img src="../../../assets/images/swap.svg" alt="swap">
  </div>

  <app-color-option [isPrimary]="!IS_PRIMARY">
  </app-color-option>
</div>


<div class="separation">
  <div class="tools">
    <div class="button" 
      *ngFor="let tool of tools"
      (click)="selectTool(tool)"
      matTooltip="{{tool.tip}}"
      matTooltipClass="tooltip"
      matTooltipPosition="below"
      [class.selected-tool]="tool === currentTool">
      <img class="tool-icon" [src]="getFilesource(tool)">
    </div>
  </div>
</div>