.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  font-weight: 700;
  font-size: 15px;
}

.content {}

.button-dismiss {
  border: none;
  font-weight: 700;
}
