<div class="section">Pattern</div>
<form class="separation" [formGroup]="lineForm">
    <mat-form-field color="accent">
        <mat-label class="trace-label">Type</mat-label>
        <mat-select (selectionChange)="onLineTypeChange()" panelClass="trace-panel" formControlName="lineType">
            <mat-option [value]="LineType.FullLine">
                Full Line
            </mat-option>
            <mat-option [value]="LineType.DashLine">
                Dash Line
            </mat-option>
            <mat-option [value]="LineType.DotLine">
                Dot Line
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>

<div class="section">Junction</div>
<form class="separation" [formGroup]="junctionForm">
    <mat-form-field color="accent">
        <mat-label class="trace-label">Type</mat-label>
        <mat-select (selectionChange)="onJunctionTypeChange()" panelClass="trace-panel" formControlName="junctionType">
            <mat-option [value]="JunctionType.Angle">
                Angle
            </mat-option>
            <mat-option [value]="JunctionType.Round">
                Round
            </mat-option>
            <mat-option [value]="JunctionType.Dot">
                Dot
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div *ngIf="toolService.currentTool.junctionType === 2">
        <app-width [title]="'Size'" [width]="toolService.currentTool.junctionWidth" (widthEmmiter)="setJunctionWidth($event)">
        </app-width>
    </div>
</form>