<div class="color-picker-wrapper">
  <color-picker class="color-picker" (mouseup)="updatePalette(
    {red: colorsForm.controls.red.value,
    green: colorsForm.controls.green.value,
    blue: colorsForm.controls.blue.value,
    alpha: colorsForm.controls.alpha.value})" (color)="onColorPick($event)"></color-picker>
</div>
<form class="form" [formGroup]="colorsForm" (ngSubmit)="onSubmit()">
  <div class="alpha-wrapper">
    <label for="alpha">Alpha</label>
    <input name="alpha" type="range" formControlName="alpha" [min]="0" [max]="1" step="0.01" class="slider"
      (change)=onAlphaChange()>
  </div>

  <div class="hex-wrapper">
    <span class="field-label">HEX</span>
    <mat-form-field color="accent" class="field">
      <input matInput type="text" formControlName="backgroundColorHEX" (change)="onColorHEXChange()"
        value="{{DEFAULT_BACKGROUND_HEX}}" autocomplete=off>
    </mat-form-field>
  </div>

  <label class="rgba-wrapper">
    <span class="field-label">RGBA </span>

    <mat-form-field color="accent" class="rgba-field">
      <input (selectionChange)=validate($event); matInput type="number" formControlName="red"
        (change)="onColorRGBAChange()" value="{{DEFAULT_RED}}" class="rgba-field">
    </mat-form-field>

    <mat-form-field color="accent" class="rgba-field">
      <input matInput type="number" formControlName="green" (change)="onColorRGBAChange()" value="{{DEFAULT_GREEN}}">
    </mat-form-field>

    <mat-form-field color="accent" class="rgba-field">
      <input matInput type="number" formControlName="blue" (change)="onColorRGBAChange()" value="{{DEFAULT_BLUE}}">
    </mat-form-field>
  </label>
  <div class="old-colors">
    <div class="old-color" *ngFor="let color of colorsHistory" [ngStyle]="{'background-color': color.toString()}"
      (click)="onColorPick(color)">
    </div>
  </div>
</form>
