.wrapper {
  width: 326px;
  height: 188px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  font-weight: 900;
  font-size: 1.2rem;
}

content {
  color: lightgrey;
}

.button-wrapper {
  display: flex;
  width: 59%;
  justify-content: space-between;
  margin: 15px 0 0 auto;
}
