a {
	width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}

a:hover {
    background-color: #0b0e1a;
}

.selected-tool {
    background-color: #344380;
}

.tool-icon {
    height: 28px;
    width: 28px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #ffffff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 30px;
    background: rgb(255, 87, 138);
    cursor: pointer;

    border-radius: 5px;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }