<app-color-selection></app-color-selection>

<app-showcase></app-showcase>

<div class="separation">
    <div class="tools">
        <div class="button" 
            *ngFor="let tool of tools" 
            (click)="selectTool(tool)"
            matTooltip="{{tool.tip}}"
            matTooltipClass="tooltip" 
            matTooltipPosition="below" 
            [class.selected-tool]="tool === currentTool">
            <img class="tool-icon" [src]="getFilesource(tool)">
        </div>
    </div>
</div>

<div *ngIf="currentTool !== pen" class="separation">
    <app-width [title]="'Width'" [width]="currentTool.width" (widthEmmiter)="setWidth($event)"></app-width>
</div>

<div *ngIf="currentTool === pen" class="separation">
    <app-width [title]="'Min Width'" [width]="currentTool.minWidth" (widthEmmiter)="setMinWidth($event)"></app-width>
</div>

<div *ngIf="currentTool === pen" class="separation">
    <app-width [title]="'Max Width'" [width]="currentTool.maxWidth" (widthEmmiter)="setMaxWidth($event)"></app-width>
</div>

<div *ngIf="currentTool.junctionType === 2" class="separation">
    <app-junction [junctionWidth]="currentTool.junctionWidth" (junctionEmmiter)="setJunctionWidth($event)">
    </app-junction>
</div>
<div *ngIf="currentTool === brush" class="separation">
    <div class="text">Textures</div>
    <div class="tools">
        <a *ngFor="let texture of textures; let i = index" [attr.data-index]="i" class="btn-texture texture-number"
            (click)="selectTexture(texture)" [class.selected-tool]="texture === currentTexture">
            {{i + 1}}
        </a>
    </div>
</div>

<div *ngIf="currentTool === stamp" class="separation">
    <app-angle [angle]="currentTool.angle" (angleEmmiter)="setAngle($event)"></app-angle>
</div>
<div *ngIf="currentTool === stamp" class="separation">
    <div class="text">Stamp</div>
    <div class="toolsEmo">
        <div *ngFor="let image of imageStamp" class="stamp" (click)="selectStamp(image.base64)"
            [class.selected-tool]="stamp === currentStamp">
            <img class="emoji" width="30px" [src]="image.png">
        </div>
    </div>
</div>

<div *ngIf="currentTool === line">
    <form class="form" [formGroup]="lineForm" (ngSubmit)="onSubmit()">

        <mat-form-field color="accent">
            <mat-label class="trace-label">Pattern Type</mat-label>
            <mat-select (selectionChange)="onLineTypeChange()" panelClass="trace-panel" formControlName="lineType">
                <mat-option [value]="LineType.FullLine">
                    Full Line
                </mat-option>
                <mat-option [value]="LineType.DashLine">
                    Dash Line
                </mat-option>
                <mat-option [value]="LineType.DotLine">
                    Dot Line
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div *ngIf="currentTool === line">
    <form class="form" [formGroup]="junctionForm" (ngSubmit)="onSubmit()">
        <mat-form-field color="accent">
            <mat-label class="trace-label">Junction Type</mat-label>
            <mat-select (selectionChange)="onJunctionTypeChange()" panelClass="trace-panel"
                formControlName="junctionType">
                <mat-option [value]="JunctionType.Angle">
                    Angle
                </mat-option>
                <mat-option [value]="JunctionType.Round">
                    Round
                </mat-option>
                <mat-option [value]="JunctionType.Dot">
                    Dot
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>