.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: 25px;
}

.magnet-wrapper {
  margin-top: 50px;
  margin-bottom: 0;
}

.magnet {
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.label {
  font-size: 1rem;
  color: whitesmoke;
}

.slider {
  width: 127px;
}
