.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: 25px;
}

.magnet-wrapper {
  margin-top: 50px;
  margin-bottom: 0;
}

.magnet {
  margin-top: 10px;
}

.label {
  font-size: 1rem;
  color: whitesmoke;
}

.slider {
  width: 127px;
}
