<div class="title">Grid</div>

<div class="buttons-wrapper">
  <app-color-option [isPrimary]="IS_PRIMARY">
  </app-color-option>

  <div class="swap" (click)="onSwap()">
    <img src="../../../assets/images/swap.svg" alt="swap">
  </div>

  <app-color-option [isPrimary]="!IS_PRIMARY">
  </app-color-option>
</div>

<div class="separation">
  <div class="tools">
    <a *ngFor="let tool of tools" class="button" (click)="selectTool(tool)"
      [class.selected-tool]="tool === currentTool">
      <img class="tool-icon" [src]="getFilesource(tool)">
    </a>
  </div>
</div>

<div class="wrapper">
  <div class="label">Grid Toggle</div>
  <label class="switch">
    <input type="checkbox" [(ngModel)]="isOn" (change)="toggleGrid()">
    <span class="toggler round"></span>
  </label>
</div>

<div class="wrapper">
  <div class="label">Opacity</div>
  <div class="opacity">
    <input type="range" [(ngModel)]="opacity" [min]="0.1" [max]="1" step="0.1" class="slider" (change)="onOpacity()">
  </div>
</div>

<div class="wrapper">
  <div class="label">Square Size</div>
  <div class="size">
    <input type="range" [(ngModel)]="step" [min]="5" [max]="25" step="1" class="slider" (change)="onStep()">
  </div>
</div>