<div class="buttons-wrapper">
    <div class="colors-wrapper">
        <app-color-button 
            class="primary"
            [isPrimary]="IS_PRIMARY"
            [isShowForm]="isOpenPrimary"
            (open)="onOpen($event, IS_PRIMARY)">
        </app-color-button>
        <app-color-button
            class="secondary"
            [isPrimary]="!IS_PRIMARY"
            [isShowForm]="isOpenSecondary"
            (open)="onOpen($event, !IS_PRIMARY)">
        </app-color-button>
    </div>
    <div class="swap"
        matTooltip="Swap Colors"
        matTooltipClass="tooltip" 
        matTooltipPosition="below"
        (click)="onSwap()">
        <img src="../../../assets/images/swap.svg" alt="swap">
    </div>
</div>

<div class="background" *ngIf="isOpenPrimary || isOpenSecondary" (mousedown)="close()"></div>
