.buttons-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  width: 100%;
  margin: 15px 0px;
}

.swap {
  position: absolute;
  align-self: center;
  transform: translate(-1px, 43px) rotate(90deg);
}

.swap:hover {
  cursor: pointer;
}

.colors-wrapper {
  position: relative;
  height: 75px;
  width: 75px;
}

.primary-color {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.secondary-color {
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 3;
}

.background-wrapper {
  height: 50px;
  width: 50px;
}

.background-color {
  z-index: 3;
  transform: translate(-25px, -25px);
}

.background {
  position: absolute;
  z-index: 2;
  transform: translate(-9%, -50%);
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
}
