.toolbar-container {
    height: 100%;
    width: 300px;
    position: fixed;
}



.toolbar-element {
    height: 100%;
    display: inline-block;
    position: absolute;
}

app-toolbar-option {
    background-color: #242424;
    width: 250px;
    right: 0;
}

app-toolbar {
    height: 100%;
    text-align: center;
    background-color: #70341e;
    width: 50px;
    right: 0;
}

app-toolbar-option {
    background-color: #242424;
    width: 250px;
    left: 0;
}


app-work-zone {

}
