<div class="toolbar">
  <div class="tools">
    <a *ngFor="let option of options" class="button" (click)="selectOption(option)"
      [class.selected-toolbar-button]="option === currentOption">
      <img class="toolbar-icon" [src]="getImage(option)" alt="icon">
    </a>
  </div>

  <div class="options">
    <a class="button" (click)="newDrawingOption()">
      <img class="toolbar-icon" src="../../../assets/images/new.png" alt="icon">
    </a>
    <a class="button" (click)="saveImage()">
      <img class="toolbar-icon" src="../../../assets/images/save.png" alt="icon">
    </a>
    <a class="button" (click)="openGalleryOption()">
      <img class="toolbar-icon" src="../../../assets/images/gallery.png">
    </a>
  </div>
</div>

<app-tool-option [class.disappear]="!optionDisplayed || currentOption !== toolOption"
  [class.appear]="optionDisplayed && currentOption === toolOption"
  class="toolbar-option selected-option disappear">
</app-tool-option>

<app-shape-option [class.disappear]="!optionDisplayed || currentOption !== shapeOption"
  [class.appear]="optionDisplayed && currentOption === shapeOption"
  class="toolbar-option selected-option disappear">
</app-shape-option>

<app-bucket-option [class.disappear]="!optionDisplayed || currentOption !== bucketOption"
  [class.appear]="optionDisplayed && currentOption === bucketOption"
  class="toolbar-option selected-option disappear"></app-bucket-option>

<app-selector-option [class.disappear]="!optionDisplayed || currentOption !== selectorOption"
  [class.appear]="optionDisplayed && currentOption === selectorOption"
  class="toolbar-option selected-option disappear"></app-selector-option>

<app-gallery-option [class.disappear]="!optionDisplayed || currentOption !== galleryOption"
  [class.appear]="optionDisplayed && currentOption === galleryOption"
  class="toolbar-option selected-option disappear"></app-gallery-option>
