.separation {
  color: whitesmoke;
  width: 100%;
  margin: 0 0 20px 0px;
}

.title {
  justify-content: center;
  font-size: 35px;
  font-weight: bold;
  padding: 35px;
  display: flex;
  color: whitesmoke;
  background-color: darken(#344380, 15%);
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.2);
}

.text {
  font-size: 1rem;
  font-weight: bold;
  color: whitesmoke;
}

.tools {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 10px;
  margin: 10px;
}

.button {
  margin: 10px 10px 0 10px;
  border-radius: 50%;

  width: 40px;
  height: 40px;

  justify-content: center;
  align-items: center;
  display: flex;

  transition: 0.3s;
}

.tool-icon {
  --length: 18px;
  display: block;
  height: var(--length);
  width: var(--length);
}

.selected-tool {
  background-color: #414d8f;
}

a:hover {
  background-color: darken($color: #414d8f, $amount: 4);
}

a:active {
  background-color: darken($color: #414d8f, $amount: 8);
}

.form {
  color: whitesmoke;
  font-size: 1rem;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.width-label {
  width: 50px;
}

.width-range {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 224px;
  box-sizing: border-box;
}

.trace-label {
  font-size: 1rem;
}
