.toolbar-option {
    position: absolute;
    background-color: #151b33;
    width: 300px;
    height: 100%;
    text-align: center;
    display: inline-block;
    z-index: -1;
    -webkit-box-shadow: 5px 0px 7px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 0px 7px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 0px 7px 0px rgba(0, 0, 0, 0.2);
}

.toolbar {
    height: 100%;
    text-align: center;
    background-color: #212749;
    position: absolute;
    -webkit-box-shadow: 5px 0px 7px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 0px 7px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 0px 7px 0px rgba(0, 0, 0, 0.2);
}

.disappear {
    transform: translate(-100%,0 );
    transition: all 0.4s ease 0.1s;
}

.appear {
    transform: translate(23%,0 );
    transition: all 0.4s ease;
}

.tools {
    height: 70%;
    width: 100%;
    display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: flex-start;
}

.button {
    margin: 10px 10px 0 10px;
    border-radius: 50%;

    width: 50px;
    height: 50px;

    justify-content: center;
    align-items: center;
    display: flex;
    
    transition: 0.3s;
}

.options {
    width: 100%;
}

a:hover {
    background-color: darken($color: #414d8f, $amount: 4);
}

a:active {
    background-color: darken($color: #414d8f, $amount: 8);
}

.toolbar-icon {
    --length: 23px;
    display: block;
    height: var(--length);
    width: var(--length);
}

.selected-toolbar-button {
    background-color: #414d8f;
}