.title {
  justify-content: center;
  font-size: 22px;
  padding: 35px;
  display: flex;
  color: whitesmoke;
  background-color: darken(#344380, 15%);
}

.tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
}

.button {
  padding: 13px;
  border-radius: 25%;
}

.tool-icon {
  height: 28px;
  width: 28px;
}

.selected-tool {
  background-color: #344380;
}

a:hover {
  background-color: #0b0e1a;
}
