<div class="toolbar">
  <div class="tools">
    <div class="button"
      *ngFor="let option of options"
      (click)="selectOption(option)"
      [class.selected-toolbar-button]="option === currentOption"
      matTooltip="{{option.tip}}"
      matTooltipClass="tooltip"
      matTooltipPosition="right">
      <img class="toolbar-icon" [src]="getImage(option)" alt="icon">
    </div>
    <div class="button" [ngClass]="{'disable': isEmptyUndos}" (click)="undo()"
      matTooltip="Undo (Ctrl + Z)"
      matTooltipClass="tooltip"
      matTooltipPosition="right">
      <img class="toolbar-icon" src="../../../assets/images/undo.png" alt="icon">
    </div>
    <div class="button" [ngClass]="{'disable': isEmptyRedos}" (click)="redo()"
      matTooltip="Redo (Ctrl + Shift + Z)"
      matTooltipClass="tooltip"
      matTooltipPosition="right">
      <img class="toolbar-icon" src="../../../assets/images/redo.png" alt="icon">
    </div>
  </div>

  <div class="options">
    <div class="button" (click)="newDrawingOption()" 
      matTooltip="New Drawing (Ctrl + O)"
      matTooltipClass="tooltip"
      matTooltipPosition="right">
      <img class="toolbar-icon" src="../../../assets/images/new.png" alt="icon">
  </div>
    <div class="button" (click)="saveImage()"
      matTooltip="Save (Ctrl + S)"
      matTooltipClass="tooltip"
      matTooltipPosition="right">
      <img class="toolbar-icon" src="../../../assets/images/save.png" alt="icon">
  </div>
    <div class="button" (click)="openGalleryOption()"
      matTooltip="Gallery (Ctrl + G)"
      matTooltipClass="tooltip"
      matTooltipPosition="right">
      <img class="toolbar-icon" src="../../../assets/images/gallery.png">
</div>
    <div class="button" (click)="openImportOption()"
      matTooltip="Import"
      matTooltipClass="tooltip"
      matTooltipPosition="right">
      <img class="toolbar-icon" src="../../../assets/images/import.png">
    </div>
    <a class="button" (click)="openExportOption()">
      <img class="toolbar-icon" src="../../../assets/images/export.png">
    </a>
  </div>
</div>

<app-tool-option [class.disappear]="!optionDisplayed || currentOption !== toolOption"
  [class.appear]="optionDisplayed && currentOption === toolOption" class="toolbar-option selected-option disappear">
</app-tool-option>

<app-shape-option [class.disappear]="!optionDisplayed || currentOption !== shapeOption"
  [class.appear]="optionDisplayed && currentOption === shapeOption" class="toolbar-option selected-option disappear">
</app-shape-option>

<app-bucket-option [class.disappear]="!optionDisplayed || currentOption !== bucketOption"
  [class.appear]="optionDisplayed && currentOption === bucketOption" class="toolbar-option selected-option disappear">
</app-bucket-option>

<app-selector-option [class.disappear]="!optionDisplayed || currentOption !== selectorOption"
  [class.appear]="optionDisplayed && currentOption === selectorOption" class="toolbar-option selected-option disappear">
</app-selector-option>

<app-grid-option [class.disappear]="!optionDisplayed || currentOption !== gridOption"
  [class.appear]="optionDisplayed && currentOption === gridOption" class="toolbar-option selected-option disappear">
</app-grid-option>

<app-text-option [class.disappear]="!optionDisplayed || currentOption !== textOption"
  [class.appear]="optionDisplayed && currentOption === textOption" class="toolbar-option selected-option disappear">
</app-text-option>