<div class="toolbar-element toolbar">
	<div class="tools">
		<a class="button" (click)="displayOption(0)"></a>
	</div>

	<div class="options">
		<a class="button" (click)="newDrawingOption()">
			<img class="toolbar-icon" src="../../../assets/images/new.png">
		</a>
		<a class="button" (click)="saveImage()">
			<img class="toolbar-icon" src="../../../assets/images/save.png">
			RANDOM COLOR BABY
		</a>
	</div>
	<app-color-option></app-color-option>
</div>


<div *ngIf="optionDisplayed" [ngSwitch]="currentDisplayedOption" class="toolbar-element toolbar-option">
	<app-tool-option *ngSwitchCase="0" class="selected-option"></app-tool-option>
</div>
