.toolbar-option {
    background-color: #242424;
    width: 250px;
    text-align: center;
    display: inline-block;
}

.toolbar {
    height: 100%;
    text-align: center;
    background-color: #70341e;
    width: 50px;
}

.toolbar-element {
    display: inline-table;
    position: relative;
    float: left;
}



.tools {
	height: 70%;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.options {
	height: 30%;
}


.toolbar-button {
	width: 50px;
	height: 50px;
}

.toolbar-icon {
    height: 32px;
    width: 32px;
}

.selected-toolbar-button {
    filter: brightness(70%);
}