.toolbar-option {
    background-color: #151b33;
    width: 250px;
    height: 100%;
    text-align: center;
    display: inline-block;
    z-index: -1;
    -webkit-box-shadow: 5px 0px 7px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 0px 7px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 0px 7px 0px rgba(0, 0, 0, 0.2);
}

.toolbar {
    height: 100%;
    text-align: center;
    background-color: #212749;
    position: absolute;
    z-index: 0;
    -webkit-box-shadow: 5px 0px 7px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 0px 7px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 0px 7px 0px rgba(0, 0, 0, 0.2);
}

.toolbar-element {
    display: inline-table;
    position: absolute;
    float: left;
}


.disappear {
    transform: translate(-100%,0 );
    transition: all 0.4s ease 0.1s;
}

.appear {
    transform: translate(30%,0 );
    transition: all 0.4s ease;
}

.tools {
    height: 70%;
    display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: flex-start;
}

.button {
    margin: 10px;
    padding: 28px;
    border-radius: 25%;
}

.options {
	height: 30%;
}


a {
	width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}

a:hover {
    background-color: #0b0e1a;
}

.toolbar-icon {
    --length: 29px;
    display: block;
    height: var(--length);
    width: var(--length);
}

.selected-toolbar-button {
    background-color: #344380;
}