<app-color-selection></app-color-selection>

<app-showcase></app-showcase>

<div class="separation">
    <div class="tools">
        <div class="button" *ngFor="let tool of tools" (click)="selectTool(tool)" matTooltip="{{tool.tip}}"
            matTooltipClass="tooltip" matTooltipPosition="below" [class.selected-tool]="tool === currentTool">
            <img class="tool-icon" [src]="getFilesource(tool)">
        </div>
    </div>
</div>

<form class="form" [formGroup]="shapeForm" (ngSubmit)="onSubmit()">
    <app-width class="separation" [title]="'Width'" [width]="currentTool.width" (widthEmmiter)="setWidth($event)">
    </app-width>

    <mat-form-field color="accent">
        <mat-label class="trace-label">Trace Type</mat-label>
        <mat-select (selectionChange)="onTraceTypeChange()" panelClass="trace-panel" formControlName="traceType">
            <mat-option [value]="TraceType.BorderOnly">
                Border only
            </mat-option>
            <mat-option [value]="TraceType.FillOnly">
                Fill only
            </mat-option>
            <mat-option [value]="TraceType.FillAndBorder">
                Fill and Border
            </mat-option>
        </mat-select>

    </mat-form-field>
</form>

<div *ngIf="isPolygon" class="container">
    <div class="text"># Sides</div>
    <input type="range" [(ngModel)]="polygonTool.nSides" [min]="3" 
    [max]="12" step="1" class="slider" (change)="updateShowcase()">
    <mat-form-field class="input-text">
        <input matInput type="number" [min]="3" [max]="12" 
        [(ngModel)]="polygonTool.nSides" (change)="updateShowcase()" autocomplete="off">
    </mat-form-field>
</div>