<div class="toolbar-element toolbar">
	<div class="tools">
		<a class="button toolbar-button" (click)="chooseColor()"></a>
		<a class="button toolbar-button" (click)="chooseWorkingTool()" [class.selected-toolbar-button]="getToolCategory() === 0"></a>
		<a class="button toolbar-button" (click)="chooseShape()" [class.selected-toolbar-button]="getToolCategory() === 1"></a>
	</div>

	<div class="options">
		<a class="button toolbar-button" (click)="newDrawingOption()"></a>
		<a class="button toolbar-button" (click)="saveImage()"></a>
	</div>
</div>


<div *ngIf="optionDisplayed" [ngSwitch]="currentDisplayedOption" class="toolbar-element toolbar-option" [ngStyle]="{'margin-top.px': getOptionTopMargin()}">
	<app-color-option *ngSwitchCase="0" class="selected-option"></app-color-option>
	<app-tool-option *ngSwitchCase="1" class="selected-option"></app-tool-option>
	<app-shape-option *ngSwitchCase="2" class="selected-option"></app-shape-option>
</div>