
app-toolbar-option {
    background-color: #242424;
    width: 250px;
	right: 0;
	
	text-align: center;
}

.main {
	height: 100%;
    text-align: center;
    background-color: #70341e;
    width: 50px;
    left: 0;
}

.toolbar-element {
	height: 100%;
    display: inline-block;
    position: absolute;
}

.tools {
	height: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.options {

	height: 30%;

}
.button {
	float: left;
}

.button:hover {
	background-color: yellow
}

.toolbar-button {
	background-color: red;
	border-radius: 5px;
	width: 50px;
	height: 50px;
}
