.toolbar-option {
    background-color: #242424;
    width: 250px;
    text-align: center;
}



.toolbar {
    height: 100%;
    text-align: center;
    background-color: #70341e;
    width: 50px;
}

.toolbar-element {
    height: 100%;
    display: inline-table;
    position: relative;
    float: left;
}



.tools {
	height: 70%;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.options {
	height: 30%;
}




.button {
	float: left;
}

.toolbar-button:hover {
    background-color: yellow;
}

.toolbar-button {
    background-color: red;
    border: 1px solid black;
	width: 48px;
	height: 48px;
}
