<div class="toolbar-element toolbar">
	<div class="tools">
		<a class="button toolbar-button" (click)="chooseColor()"></a>
		<a class="button toolbar-button" (click)="chooseWorkingTool()"></a>
		<a class="button toolbar-button" (click)="chooseShape()"></a>
	</div>

	<div class="options">
		<a class="button toolbar-button" (click)="newDrawingOption()"></a>
		<a class="button toolbar-button" (click)="saveImage()"></a>
	</div>
</div>

<app-selector *ngIf="optionBarShowing" class="toolbar-element"></app-selector>
