<div class="toolbar-element toolbar">
	<div class="tools">
		<a class="button toolbar-button" (click)="chooseColor()"></a>
		<a class="button toolbar-button" (click)="chooseWorkingTool()"></a>
		<a class="button toolbar-button" (click)="chooseShape()"></a>
	</div>

	<div class="options">
		<a class="button toolbar-button" (click)="newDrawingOption()"></a>
		<a class="button toolbar-button" (click)="saveImage()"></a>
	</div>
</div>


<div *ngIf="currentOption !== 0" [ngSwitch]="currentOption" class="toolbar-element toolbar-option">
	<app-color-option *ngSwitchCase="1" class=""></app-color-option>
	<app-tool-option *ngSwitchCase="2" class=""></app-tool-option>
	<app-shape-option *ngSwitchCase="3" class=""></app-shape-option>
</div>