.tools {
	height: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.options {

	height: 30%;

}
.button {
	float: left;
}

.button:hover {
	background-color: yellow
}



.toolbar-button {
	background-color: red;
	border-radius: 5px;
	width: 50px;
	height: 50px;
}
