<svg
  #gridContainer
  id="svg-grid"
  [ngStyle]="gridStyle()"
  stroke-width="1" stroke="black" fill-opacity="0" stroke-opacity="1">
</svg>
<svg
  xmlns="http://www.w3.org/2000/svg"
  mousetrack
  (wheel)="onWheel($event)"
  (mouseenter)="onMouseEnter($event)"
  (mouseleave)="onMouseLeave($event)"
  (mousemove)="onMouseMove($event)"
  (mousedown)="onMouseDown($event)"
  (dblclick)="onDoubleClick($event)"
  (drag)="onDrag($event)"
  [ngStyle]="setCurrentStyles()"
  #svgContainer style="height: 100%; width: 100%;">
</svg>