<svg
  #gridContainer
  id="svg-grid"
  [ngStyle]="gridStyle()"
  stroke-width="1" stroke="black" fill-opacity="0" stroke-opacity="1">
</svg>
<svg
  mousetrack class="draw-area"
  (mouseenter)="onMouseEnter($event)"
  (mouseleave)="onMouseLeave($event)"
  (mousemove)="onMouseMove($event)"
  (mousedown)="onMouseDown($event)"
  (mouseup)="onMouseUp($event)"
  (dblclick)="onDoubleClick($event)"
  (drag)="onDrag($event)"
  [ngStyle]="setCurrentStyles()"
  #svgContainer height="180" width="500" style="height: 100%; width: 100%;">
</svg>
