<div class="title">New</div>
<div class="modal">
  <form class="modal-wrapper" [formGroup]="newDrawingFrom" (ngSubmit)="onSubmit()">
    <div class="content-wrapper">

      <div class="dimensions-wrapper">

        <label class="field-wrapper">
          <span class="field-label">Width</span>
          <mat-form-field color="accent" class="field">
            <input matInput (change)="onWidthChange()" type="number" formControlName="width" autofocus autocomplete=off>
            <mat-error *ngIf="newDrawingFrom.invalid">{{getWidthErrorMessage()}}</mat-error>
            <span matSuffix>px</span>
          </mat-form-field>
        </label>

        <label>
          <span class="field-label">Height</span>
          <mat-form-field color="accent" class="field">
            <input matInput (change)="onHeightChange()" type="number" formControlName="height" autocomplete=off>
            <mat-error *ngIf="newDrawingFrom.invalid">{{getHeightErrorMessage()}}</mat-error>
            <span matSuffix>px</span>
          </mat-form-field>
        </label>

      </div>

      <label>
        <span class="field-label">Background Color</span>
        <mat-form-field color="accent" class="field">
          <input maxlength="7" matInput type="text" formControlName="hex" (change)="onColorHEXChange()"
            value="{{DEFAULT_HEX}}" autocomplete=off>
        </mat-form-field>
        <div class="color bgc-color" [ngStyle]="{'background-color': this.backgroundColor.toRGBA()}"></div>
      </label>

      <label class="rgba-wrapper">
        <span class="field-label">RGBA </span>

        <mat-form-field color="accent" class="rgba-field">
          <input min="0" max="255" matInput type="number" formControlName="red" (change)="onColorRGBAChange()"
            value="{{DEFAULT_RED}}" class="rgba-field">
        </mat-form-field>

        <mat-form-field color="accent" class="rgba-field">
          <input min="0" max="255" matInput type="number" formControlName="green" (change)="onColorRGBAChange()"
            value="{{DEFAULT_GREEN}}">
        </mat-form-field>

        <mat-form-field color="accent" class="rgba-field">
          <input min="0" max="255" matInput type="number" formControlName="blue" (change)="onColorRGBAChange()"
            value="{{DEFAULT_BLUE}}">
        </mat-form-field>

        <mat-form-field color="accent" class="rgba-field rgba-alpha">
          <input min="0" max="1" step="0.1" matInput type="number" formControlName="alpha"
            (change)="onColorRGBAChange()" value="{{DEFAULT_ALPHA}}">
        </mat-form-field>
      </label>


      <color-picker class="color-picker-wrapper" *ngIf="isColorPickerShown" (color)="onColorPick($event)"></color-picker>


      <div class="color-palette">

        <div class="color-wrapper" *ngFor="let color of colorChoices">
          <input class="color-toggler" type="radio" name="radio" [checked]="false" (click)="chooseBackgroundColor(color)">
          <div class="color" [ngStyle]="{'background-color': color.toRGBA()}">
          </div>
        </div>

        <div class="color-wrapper">
          <input class="color-toggler" type="radio" name="radio">
          <div class="color color9">
            <input class="color-toggler" type="radio" name="radio" (click)="showColorPicker()">
          </div>
        </div>
      </div>
      <mat-error *ngIf="!isDrawingSaved">{{getSaveErrorMessage()}}
        <mat-checkbox class="override-drawing" formControlName="isOverrideOldDrawing">Yes</mat-checkbox>

      </mat-error>


      <div class="button-wrapper">
        <button color="secondary" mat-raised-button mat-dialog-close>Cancel</button>

        <ng-container *ngIf="isOverrideOldDrawing; then closeDialog; else doNotCloseDialog"></ng-container>
        <ng-template #closeDialog>
          <button color="primary" mat-raised-button mat-dialog-close type="submit"
            [disabled]="!newDrawingFrom.valid">Create</button>
        </ng-template>
        <ng-template #doNotCloseDialog>
          <button color="primary" mat-raised-button type="submit" [disabled]="!newDrawingFrom.valid"
            (click)="onCreateClick()">Create</button>
        </ng-template>
      </div>
    </div>
  </form>
</div>
<div class="background">
</div>