<div class="header"> Export</div>
<mat-divider></mat-divider>
<div class="export-wrapper">
    <div class="button-wrapper">
        <mat-dialog-actions>
          <button (click)="saveDraw($event)">.Rebase</button>
          <button (click)="saveSVG($event)">.SVG</button>
        </mat-dialog-actions>
        <div class="background"></div>
    </div>
</div>
<div class="button-wrapper">
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close($event)">Close</button>
</mat-dialog-actions>
<div class="background"></div>
</div>
