.btn-color-wrapper {
  position: absolute;
}

.color-picker-wrapper {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-direction: column;
  width: 60%;
}

.form-wrapper {
  border: #343e76 1px solid;
  display: block;
  position: absolute;
  background-color: #212749;
  padding: 0px 5px 0px 20px;
  border-radius: 5px;
  height: 233px;
  width: 485px;
  z-index: 5;

  transform: translate(0px, 60px);

  -webkit-box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
}

.button {
  position: relative;
  min-width: unset !important;
  height: 40px !important;
  width: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  border: #262626 solid 1px;
}

.icon {
  mix-blend-mode: exclusion;
}

.rgba-wrapper {
  width: 100%;
  display: block;
}

.field-label {
  font-size: 13px;
  white-space: nowrap;
  align-self: center;
  color: #ececec;
}

.history-label {
  font-size: 13px;
  white-space: nowrap;
  align-self: left;
  color: #ececec;
}

.field {
  font-size: 13px;
}

.rgba-field {
  font-weight: bold;
  width: 50px;
  margin-left: 10px;
}

.form {
  padding-top: 20px;
  height: 100%;
  width: 338px;
  color: whitesmoke;
  font-size: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hex-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 83%;
}

.hex-field {
  width: 115px;
}

.alpha-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 95%;
  margin: 7px;
}

.slider {
  -webkit-appearance: none;
  width: 160px;
  height: 5px;
  border-radius: 5px;
  background: #ffffffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #344380;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #344380;
  cursor: pointer;
}

.history-wrapper {
  width: 100%;
}

.old-colors {
  margin-top: 20px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.old-color {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.ok-wrapper {
  width: 100%;
}

.ok {
  margin: 10px 0 20px auto;
}

.preview {
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 100px;
  border: #343e76 1px solid;
}
